body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9fc;
  color: var(--primary-color);
}

:root {
  --primary-color: #100747;
  --font-title: 2rem;
  --radius: 12px;
  --font-size: 1.2rem;
  --family:times new roman;

}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.img-container img {
  max-width: 100%;
  height: auto;
}
#detail-1 {
  color: var(--primary-color);
  font-size: 15px;
  font-family: var(--family);
  text-align: center;
  margin-top: 20px;
}

h1 {
  color: var(--primary-color);
  font-size: var(--font-title);
  border-radius: var(--radius);
  font-family: var(--family);
  text-align: center;
}
 .container {
  color: var(--primary-color);
  font-size: 20px;
  font-family: var(--family); 
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
 }

h2 {
  background-color: #0f4966;
  color: #ffffff;

  padding: 10px;
}

.title {
  font-size: 65px;
}

.video-container {
  display: flex;
  justify-content: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto ;
  padding: 20px;
   background-color: lightblue;
}
.video-container video {
  max-width: 100%;  
  height: auto;
  display: block;
}